/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT_L 0
#define NUMBERS_L 1


/ {

	behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp N2>, <&kp N3>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
			label = "SIMON";
                        bindings = <
   &to NUMBERS_L &kp Q &kp W     &kp F       &kp P      &kp G         &kp J   &kp L       &kp U        &kp Y         &kp SEMI        &kp FSLH
   &kp TAB       &kp A &kp R     &kp S       &kp T      &kp D         &kp H   &kp N       &kp E        &kp I         &kp O           &kp BSPC
   &kp LSHFT     &kp Z &kp X     &kp C       &kp V      &kp B         &kp K   &kp M       &kp COMMA    &kp DOT       &kp APOSTROPHE  &kp RET
                 &kp LCMD     &mo NUMBERS_L    &kp SPACE              &kp RSHFT       &mo NUMBERS_L         &kp LCMD
                        >;
                };

                numbers_layer {
			label = "ERNIE";
                        bindings = <
   &kp PLUS   &kp STAR    &kp N7  &kp N8  &kp N9 &kp EQUAL         &kp EXCL   &kp AT      &kp UP   &kp DLLR   &kp SEMI        &kp FSLH
   &kp MINUS  &kp FSLH    &kp N4  &kp N5  &kp N6 &kp BSPC          &kp PRCNT  &kp LEFT    &kp DOWN   &kp RIGHT     &kp HASH      &kp BSPC
   &kp LPAR   &kp RPAR    &kp N1  &kp N2  &kp N3 &kp RET           &kp AMPS   &kp UNDER   &kp COMMA  &kp DOT    &kp APOSTROPHE  &kp RET
                    	    &kp N0 &mo NUMBERS_L &kp SPACE         &kp SPACE &kp RSHFT  &bt BT_NXT
                        >;
                };
        };
};
